extends layout

block content
  h1= title
  p Welcome to #{title}
  <div id="map-canvas" style='height:30em'></div>
  <div id="locationField">
  <input id="searchPlace" placeholder="Enter a place" type="text" style="height: 30px; width: 90%" />
  </div>

  script(type='text/javascript').
    var map_container = document.getElementById('map-canvas');
    var autocomplete_container = document.getElementById('searchPlace');
    google.maps.event.addDomListener(window, 'load', function() {
      chanakya.Map.intializeGmapsUsingNavigator(map_container, function() {
        chanakya.MapSearch.initializePlaces(autocomplete_container);
      });
    });
