extends layout

block content
  div#map-canvas
  div#content
      div#locationField
           input#searchSource(
             placeholder="Enter source",
             type="text"
           )
           hr
           input#searchDestination(
             placeholder="Enter destination",
             type="text"
           )
  div#title

  script(src='scripts/input.js')
  script(src='scripts/cost.js')
  script(src='scripts/Maps.js')
  script(src='scripts/MapSearch.js')
  script(src='scripts/MapDirections.js')
  script(src='scripts/cabbie.js')
  