extends layout

block content
  h1= title
  p Welcome to #{title}
  <div id="map-canvas" style='height:30em'></div>
  script(type='text/javascript').
      function initialize() {
        var mapOptions = {
          center: { lat: 12.9667, lng: 77.5667},
          zoom: 12
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
