extends layout

block content
  div#map-canvas
  div#content
      div#locationField
           input.clearable#searchSource(
             placeholder="Enter source",
             type="text"
           )
           hr
           input.clearable#searchDestination(
             placeholder="Enter destination",
             type="text"
           )
  div#cabdetails
  div#title

  script(src='scripts/ui.js')
  script(src='scripts/cost.js')
  script(src='scripts/Maps.js')
  script(src='scripts/MapSearch.js')
  script(src='scripts/MapDirections.js')
  script(src='scripts/cabbie.js')
  