extends layout

block content
  div#container(ui-view)

  if isProd
    script(src='build/app.js' defer)
  else
    script(src='scripts/maps/Maps.js' defer)
    script(src='scripts/maps/MapSearch.js' defer)
    script(src='scripts/maps/MapDirections.js' defer)
    script(src='scripts/utils/cost.js' defer)
    script(src='scripts/utils/Utils.js' defer)
    script(src='scripts/angular/config.js' defer)
    script(src='scripts/angular/services/User.js' defer)
    script(src='scripts/angular/controllers/login.js' defer)
    script(src='scripts/angular/controllers/main.js' defer)
  if isProd
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-59502345-1', 'auto');
      ga('send', 'pageview');
  