doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Find cheapest ride for yourself')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
 
    script(src='//cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/core-min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/cipher-core-min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/sha1-min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/aes-min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/enc-base64-min.js')

    script(src='scripts/utils.js')
    
    title=title
    
  body
    block content
