doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBbAX5JrFJ8Y6YqLV84-ex52z9tBGJd92o&libraries=places')
    script(src='javascripts/gmaps.js')
    script(src='javascripts/mapsearch.js')
  body
    block content
