doctype html
html(ng-app='chanakyaApp')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Find cheapest ride for yourself')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    
    title=title

    link(rel="shortcut icon", href="images/favicon.ico", type="image/x-icon")
    link(rel='stylesheet', href='/build/style.css')

    script.
      window.CDN_IMAGE_PREFIX = '#{url.cdnImagePrefix}';
    script(src='https://maps.googleapis.com/maps/api/js?libraries=places' + url.gMapsAPI)
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.11/angular.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.11/angular-sanitize.js')
    
  body(ng-controller='ChanakyaCtrl')
    block content
