doctype html
html
  head
    title= title

    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBbAX5JrFJ8Y6YqLV84-ex52z9tBGJd92o&libraries=places')
    script(src='jquery/dist/jquery.min.js')

    script(src='javascripts/cost.js')
    script(src='javascripts/Maps.js')
    script(src='javascripts/MapSearch.js')
  body
    block content
