div#login-background
div#login(
  ng-controller="ChanakyaLoginCtrl"
  ng-class="{'social': false && social}"
)
  img(src=cdnImagePrefix + '/images/taxistop.png'  height="60" width="60")
  h2 TaxiStop
  div
    i#page-spinner.fa.fa-cog.fa-spin(ng-hide="showLogin")
  form(ng-show="showLogin")
    label(for="username") username
    input(type="text" name="username" class="placeholder" placeholder="me@taxistop.in" ng-model="email")
    label(for="password") password
    input(type="password" name="password" class="placeholder" placeholder="password" ng-show="!forgot" ng-model="password")
    input(type="submit" value="{{forgot ? 'Reset' : (login ? 'Log In' : 'Register')}}" ng-click="loginSubmit()" ng-disabled='actionDisabled')
    div(style="margin-top:10px")
      a(style="float:right;cursor:pointer;" ng-click='forgot=!forgot;login=false') Forgot Password?
      a(style="float:left;cursor:pointer;" ng-click='login=!login;forgot=false') {{ login ? 'Register' : 'Log In'}}
  div.alert.alert-danger.animate-hide(role="alert" ng-show="errorMsg") {{errorMsg}}
  div.alert.alert-success.animate-hide(role="alert" ng-show="successMsg") {{successMsg}}
